:root {
  --tile-background: rgb(189, 189, 189);
  --tile-border: rgb(123, 123, 123);
}

@font-face {
  font-family: "counter";
  src: url("../fonts/digital_dismay-webfont.woff2") format("woff2"),
    url("../fonts/digital_dismay-webfont.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

main {
  background-color: green;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.difficulty {
  padding: 0.5rem 1rem;
}

.container {
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px;
}

.displayboard {
  width: 100%;
  height: 50px;
  background: rebeccapurple;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.mines-remaining,
.timer {
  height: 30px;
  width: 50px;
  background: black;
  color: red;
  font-size: 35px;
  font-family: "counter";
  text-align: right;
  line-height: 30px;
}

.smiley-face {
  height: 30px;
  width: 30px;
  border-radius: 1px;
  background-image: url("../assets/happy-face.png");
  background-size: cover;
}

.smiley-face:active:hover {
  background-position: 1px 1px;
}

.grid {
  display: grid;
  grid-template: repeat(9, 1fr) / repeat(9, 1fr);
  border-top: 1px var(--tile-border) solid;
  border-left: 1px var(--tile-border) solid;
}

.grid div {
  width: 20px;
  height: 20px;
  border: 1px var(--tile-border) solid;
  position: relative;
}

.tile {
  background: var(--tile-background);
}

.tile-initial {
  background: var(--tile-background);
}

.tile-initial::before {
  content: "";
  height: 16px;
  width: 16px;
  border-left: 2px white solid;
  border-top: 2px white solid;
  position: absolute;
  transform: translate(-1px, -1px);
}
.tile-initial::after {
  content: "";
  height: 16px;
  width: 16px;
  border-bottom: 2px var(--tile-border) solid;
  border-right: 2px var(--tile-border) solid;
  position: absolute;
}

.tile-initial:active:hover::before,
.tile-initial:active:hover::after {
  display: none;
}

.tile-initial:active:hover #smiley-face {
  background-image: url("../assets/shocked-smiley.png");
  background-size: cover;
}

.tile-empty {
  background: var(--tile-background);
}

.exploded-mine {
  background-image: url("../assets/exploded-mine.png");
  background-size: cover;
}

.undetected-mine {
  background-image: url("../assets/undetected-mine.png");
  background-size: cover;
}

.wrong-mine {
  background-image: url("../assets/wrong-mine.png");
  background-size: cover;
}

.adjacent-mines-0 {
  background-color: var(--tile-background);
}
.adjacent-mines-1 {
  background-image: url("../assets/adjacent-mines-1.png");
  background-size: cover;
}
.adjacent-mines-2 {
  background-image: url("../assets/adjacent-mines-2.png");
  background-size: cover;
}
.adjacent-mines-3 {
  background-image: url("../assets/adjacent-mines-3.png");
  background-size: cover;
}
.adjacent-mines-4 {
  background-image: url("../assets/adjacent-mines-4.png");
  background-size: cover;
}
.adjacent-mines-5 {
  background-image: url("../assets/adjacent-mines-5.png");
  background-size: cover;
}
.adjacent-mines-6 {
  background-image: url("../assets/adjacent-mines-6.png");
  background-size: cover;
}
.adjacent-mines-7 {
  background-image: url("../assets/adjacent-mines-7.png");
  background-size: cover;
}
.adjacent-mines-8 {
  background-image: url("../assets/adjacent-mines-8.png");
  background-size: cover;
}
.flag {
  background-image: url("../assets/flag.png");
  background-size: cover;
}

.dead-smiley {
  background-image: url("../assets/dead-smiley.png");
  background-size: cover;
}

.sunglasses-smiley {
  background-image: url("../assets/smiley-sunglasses.png");
  background-size: cover;
}
.shocked-smiley {
  background-image: url("../assets/shocked-smiley.png");
  background-size: cover;
}
