:root {
  --tile-background: rgb(189, 189, 189);
  --tile-border: rgb(123, 123, 123);
}

@font-face {
  font-family: "counter";
  src: url("../fonts/digital_dismay-webfont.woff2") format("woff2"),
    url("../fonts/digital_dismay-webfont.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 789px;
  width: 1328px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

main {
  background-image: url("../assets/crt-monitor-background.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 132px 124px;
}

.container {
  background-color: var(--tile-background);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: outset;
  border-width: 2px;
  border-color: white;
}

.title-bar {
  height: 27px;
  width: 100%;
  padding: 4px 8px 8px;
  background-image: linear-gradient(
    to right,
    rgb(37, 82, 231),
    rgb(83, 148, 255)
  );
}

.title-bar h1 {
  display: inline;
  padding: 13px 13px 13px 4px;
  pointer-events: none;
  cursor: move;
  color: white;
  font-family: "Tahoma", sans-serif;
  font-size: 0.9rem;
}

.displayboard {
  width: 94%;
  height: 50px;
  margin: 8px;
  background-color: var(--tile-background);
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-style: inset;
  border-width: 2px;
  border-color: white;
  margin: 8px 0 0;
}

.mines-remaining,
.timer {
  height: 30px;
  width: 50px;
  background: black;
  color: red;
  font-size: 35px;
  font-family: "counter";
  text-align: right;
  line-height: 30px;
  pointer-events: none;
}

.smiley-face {
  height: 30px;
  width: 30px;
  border-radius: 1px;
  background-image: url("../assets/happy-face.png");
  background-size: cover;
  border-style: outset;
  border-width: 2px;
  border-color: white;
  cursor: default;
}

.smiley-face:active:hover {
  background-position: 1px 1px;
  border-style: inset;
}

.grid {
  display: grid;
  grid-template: repeat(9, 1fr) / repeat(9, 1fr);
  border-style: inset;
  border-width: 2px;
  border-color: white;
  margin: 6px;
}

.grid div {
  width: 20px;
  height: 20px;
  border: 1px var(--tile-border) solid;
  position: relative;
}

.clock {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  position: absolute;
  right: 232px;
  bottom: 121px;
}

footer {
  position: absolute;
  right: -630px;
  width: 80%;
  bottom: 15px;
  display: flex;
  justify-content: end;
}

.option {
  margin: 0 10px;
  height: 60px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.difficulty {
  height: 30px;
  width: 45px;
  border-radius: 50%;
  transform: rotateZ(130deg);
  background-color: transparent;
  border: none;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3),
    0 2px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.3) inset;
}

.difficulty:active:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset,
    5px 0 5px -3px rgba(0, 0, 0, 0.2) inset,
    -5px 0 5px -3px rgba(0, 0, 0, 0.2) inset;
}

.difficulty::after {
  content: "";
  width: 47px;
  height: 32px;
  border: 1px solid rgb(136, 135, 131);
  border-radius: 50%;
  position: absolute;
  bottom: -2px;
  right: -2px;
}

footer p {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 0.8rem;
  color: rgb(51, 49, 49);
  text-shadow: 0 -0.1px 0 rgba(0, 0, 0, 0.5);
}

/* 

Classes for JS Generated Elements 

*/

.tile {
  background: var(--tile-background);
}

.tile-initial {
  background: var(--tile-background);
}

.tile-initial::before,
.flag::before {
  content: "";
  height: 16px;
  width: 16px;
  border-left: 2px white solid;
  border-top: 2px white solid;
  position: absolute;
  transform: translate(-1px, -1px);
}
.tile-initial::after,
.flag::after {
  content: "";
  height: 16px;
  width: 16px;
  border-bottom: 2px var(--tile-border) solid;
  border-right: 2px var(--tile-border) solid;
  position: absolute;
}

.tile-initial:active:hover::before,
.tile-initial:active:hover::after {
  display: none;
}

.tile-initial:active:hover #smiley-face {
  background-image: url("../assets/shocked-smiley.png");
  background-size: cover;
}

.tile-empty {
  background: var(--tile-background);
}

.exploded-mine {
  background-image: url("../assets/exploded-mine.png");
  background-size: cover;
}

.undetected-mine {
  background-image: url("../assets/undetected-mine.png");
  background-size: cover;
}

.wrong-mine {
  background-image: url("../assets/wrong-mine.png");
  background-size: cover;
}

.adjacent-mines-0 {
  background-color: var(--tile-background);
}
.adjacent-mines-1 {
  background-image: url("../assets/adjacent-mines-1.png");
  background-size: cover;
}
.adjacent-mines-2 {
  background-image: url("../assets/adjacent-mines-2.png");
  background-size: cover;
}
.adjacent-mines-3 {
  background-image: url("../assets/adjacent-mines-3.png");
  background-size: cover;
}
.adjacent-mines-4 {
  background-image: url("../assets/adjacent-mines-4.png");
  background-size: cover;
}
.adjacent-mines-5 {
  background-image: url("../assets/adjacent-mines-5.png");
  background-size: cover;
}
.adjacent-mines-6 {
  background-image: url("../assets/adjacent-mines-6.png");
  background-size: cover;
}
.adjacent-mines-7 {
  background-image: url("../assets/adjacent-mines-7.png");
  background-size: cover;
}
.adjacent-mines-8 {
  background-image: url("../assets/adjacent-mines-8.png");
  background-size: cover;
}
.flag {
  background-image: url("../assets/flag.png");
  background-size: cover;
  z-index: 10;
}

.dead-smiley {
  background-image: url("../assets/dead-smiley.png");
  background-size: cover;
}

.sunglasses-smiley {
  background-image: url("../assets/smiley-sunglasses.png");
  background-size: cover;
}
.shocked-smiley {
  background-image: url("../assets/shocked-smiley.png");
  background-size: cover;
}
